<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Web browser tab title -->
  <title>NavSpot</title>

  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../css/sb-admin-2.css" rel="stylesheet">
  <!-- Morris Charts CSS -->
  <link href="../vendor/morrisjs/morris.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script type="text/javascript"
          src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <!-- <script type="text/javascript" -->
          <!-- src="http://www.your-domain.com/easy-comment/jquery.easy-comment.min.js"></script> -->


  <title>NavSpot Tester</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <!-- TODO: Put this code into a CSS file -->
  <style>
     #map {
      height: 400px;
      width: 100%;
     }
  </style>
</head>


<body>

  <div id="wrapper">
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <img src="/images/logo.png" height="60px" style="margin-left: 20px; margin-top: 2px">
      </div>

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse"> <!-- Don't need this line??? -->
          <ul class="nav" id="side-menu">
            <!-- TODO: Implement search bar functionality -->
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search events">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
              </div>
            </li>
            <li>
              <a href="#"><i class="fa fa-medkit fa-fw"></i> My Events<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="#"><i class="fa fa-square" style="padding-right: 10px; color: orange"></i>EEL3701 Study Group</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-square fa-fw" style="padding-right: 10px; color: orange"></i>COP3530 Study Group</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-square fa-fw" style="padding-right: 10px; color: blue"></i>ACE GBM</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="page-wrapper" class="col-lg-10" style="margin-top: 10px">
      <div class="row">
                <div class="panel panel-primary">
          <!-- Titling -->
          <div class="panel-heading text-center">
            <i class="fa fa-map-marker fa-3x"> Add Event</i>
          </div>
          <div class="panel-body">
            <!-- Map -->
            <div class="col-lg-6 col-md-6 panel panel-blue">
              <!-- MAP -->
              <div id="map"></div>
              <script>
                function initMap() {
                  var uluru = {lat: 29.643220, lng: -82.350427};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: uluru
                  }); 
                  // Marker Images
                  var image2 = 'https://image.ibb.co/kRpLak/98131acc6d38e230b3b02342aef1ef1b.jpg';
                  var image = 'https://image.ibb.co/nmGCo5/Spot3.png';
                  var image3 = 'http://www.poolcleaningfl.com/wp-content/uploads/2014/11/map_icon.png';
                  // Map Locations
                  var centerMarker = new google.maps.Marker({
                    position: {lat: 29.643894, lng: -82.354748},
                    map: map,
                    icon: image3
                  });
                  var westMarker = new google.maps.Marker({
                    position: {lat: 29.651409, lng: -82.342909},
                    map: map,
                    icon: image
                  });
                  var eastMarker = new google.maps.Marker({
                    position: {lat: 29.650871, lng: -82.341713},
                    map: map,
                    icon: image
                  });
                  var americasMarker = new google.maps.Marker({
                    position: {lat: 29.650533, lng: -82.342684},
                    map: map,
                    icon: image
                  });
                  var hubMarker = new google.maps.Marker({
                    position: {lat: 29.648077, lng: -82.345496},
                    map: map,
                    icon: image
                  });
                  var turlingtonMarker = new google.maps.Marker({
                    position: {lat: 29.649085, lng: -82.343699},
                    map: map,
                    icon: image
                  });
                  var marstonMarker = new google.maps.Marker({
                    position: {lat: 29.647965, lng: -82.344005},
                    map: map,
                    icon: image
                  });
                  var reitzMarker = new google.maps.Marker({
                    position: {lat: 29.645793, lng: -82.347717},
                    map: map,
                    icon: image
                  });
                  var nebMarker = new google.maps.Marker({
                    position: {lat: 29.642287, lng: -82.347072},
                    map: map,
                    icon: image
                  });
                  var dungeonMarker = new google.maps.Marker({
                    position: {lat: 29.648323, lng: -82.344293},
                    map: map,
                    icon: image
                  });
                  var lawMarker = new google.maps.Marker({
                    position: {lat: 29.649230, lng: -82.359026},
                    map: map,
                    icon: image
                  });
                }
              </script>
              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeD3jZN_dJj1DfvZFji9FL8bGevJM0qOQ&callback=initMap">
              </script>
            </div>
            <!-- Event form -->
            <div class="col-lg-6">
              <form name="eventForm" id="eventForm" action="/dashboard" method="post">
               <div class="form-group">
                  <label for="eventName">Event Name</label>
                  <input type="text" class="form-control" name="eventName" placeholder="Event name">
                </div>
                <div class="form-group">
                  <label for="eventType">Type</label>
                  <select class="form-control" name="eventType">
                    <option>Study Group</option>
                    <option>Food</option>
                    <option>Meeting</option>
                    <option>Danger</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="eventLocation">Location</label>
                  <select class="form-control" name="eventLocation">
                    <option>Marston Library</option>
                    <option>Reitz Union</option>
                    <option>Library West</option>
                    <option>French Fries</option>
                    <option>Stadium</option>
                    <option>O'Connell Center</option>
                    <option>Southwest Rec</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="eventDetails">Event Details</label>
                  <textarea class="form-control" name="eventDetails" rows="2" placeholder="Add details about your event"></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
