<!-- Event form -->
<div class="col-lg-6">
  <form id="eventForm" method="post">
    <div class="form-group">
      <label for="eventName">Event Name</label>
      <input type="text" class="form-control" id="eventName" placeholder="Event name">
    </div>
    <div class="form-group">
      <label for="eventType">Type</label>
      <select class="form-control" id="eventType">
        <option>Study Group</option>
        <option>Food</option>
        <option>Meeting</option>
        <option>Danger</option>
      </select>
    </div>
    <div class="form-group">
      <label for="eventLocation">Location</label>
      <select class="form-control" id="eventLocation">
        <option>Marston Library</option>
        <option>Reitz Union</option>
        <option>Library West</option>
        <option>French Fries</option>
        <option>Stadium</option>
        <option>O'Connell Center</option>
        <option>Southwest Rec</option>
      </select>
    </div>
    <div class="form-group">
      <label for="eventNotes">Event Notes</label>
      <textarea class="form-control" id="eventNotes" rows="2" placeholder="Add details about your event"></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
